body {
  font-family: "Poppins", sans-serif;
  height: 97vh;
  background-color: #9acba0;  
}
a {
  color: #92badd;
  text-decoration: none;
  font-weight: 300;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 30px;



}
#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 700px;
  height: 800px;
  position: relative;
  padding: 40px;
  padding-bottom: 3px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: left;
  padding-left:20px;

}

.feccha{

  width: 19px;
  height: 45px;
}

/*
input[type=date]{

width: 190px;
  height: 45px;

}

input[type=date]:focus{
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
} */
input[type=button], input[type=submit]{
  background-color: #9acba0;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  cursor: pointer;
}

input[type=file]{
  border: none;
  color: black;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;

} 

input[type=file]:hover{
  background-color: rgb(233,147,26);
  color: white;
}

.texto1{
  border: none;
  color: black;
  width: 290px;
  height: 45px;
  text-decoration: none;
  font-size: 12px;



}
input[type=number]{
  background-color: #f2f2f2;
  border: none;
  color: #0d0d0d;

  align-content: center;
  display: inline-block;
  margin: 5px;
  width: 80%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
   width: 300px;
  height: 20px;
  padding-left:70px;



}

input[type=number]:focus{
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
   /* padding-left:0px;*/


}

input[type=button]:hover, input[type=submit]:hover {
  background-color: rgb(229,133,174);
  cursor: pointer;
}
input[type=text],input[type=email],input[type=int], input[type=password]
 {
  background-color: #f2f2f2;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  align-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  width: 290px;
  height: 45px;
  padding-left:50px;



}

input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=int]:focus, input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
   /* padding-left:0px;*/


}
* {
  box-sizing: border-box;
}
div.Enviar{
  float: left;
}
div.Cancelar{
  float: right;
}


/*Tabla*/
.Table_Div 
{
    height: 400px; 
  
}

.User_Table{
    width: 100%;

    border-collapse: collapse; 
}

.User_Table th{
    text-align: left;
    color: white;
    border-right: 1px solid #ccc;
    background-color: #D459A9;
}

.User_Table tbody td
{
    border:  1px solid #f1f1f1;
}

.ubicacionbtn1{
    margin-left: 220px;/*distancia dejada desde la izquieda*/
    margin-top: 8px;/*distancia dejada desde arriba*/
}
.ubicacionbtn2{
    margin-left: 580px;/*distancia dejada desde la izquieda*/
    margin-top: -90px;/*distancia dejada desde arriba*/
}



.ubicacion{
    margin-left: 210px;/*distancia dejada desde la izquieda*/
    margin-top: 25px;/*distancia dejada desde arriba*/
}
.ubicacion2{
    margin-left: 600px;/*distancia dejada desde la izquieda*/
    margin-top: -215px  ;/*distancia dejada desde arriba*/
}